<!-- footer start -->

<footer class="site-footer">

    <div class="inner">
         <section class="copyright"><a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a> <a href="mailto:{{ site.email}}">{{ site.name }}</a>.</section>
         <section class="navigation"><a href="/books/">Books</a> | <a href="http://writing.hackeducation.com">Writing</a> | <a href="http://speaking.hackeducation.com">Speaking</a> | <a href="http://research.hackeducation.com">Research</a> | <a href="https://tinyletter.com/audreywatters">Newsletter</a> </section>
         <section class="support"><a href="http://hackeducation.com/support/">Support</a></section>
    </div>
</footer>

<!-- footer end -->
